---

import TimeLine from "../components/TimeLine.astro"
import Layout from "../components/Layout.astro"
import Carrusel from "../components/Carrusel.astro"
import Header from "../components/header.astro"
import Numeros from "../components/numeros.astro"
---

<Layout titulo="Acerca de la Cruz Roja Cubana">
    <Header class=""></Header>
    <div class="flex flex-col min-h-screen">
        <section class="about-section flex-grow">
            <div>
                <Carrusel></Carrusel>
            </div>
            <!-- <div class="about-text">
                <p class="font-bold text-3xl text-white bg-red-700">
                    Nuestra misión es prevenir y aliviar el sufrimiento humano, proteger la vida y la salud,
                    y garantizar el respeto a la dignidad humana, especialmente en tiempos de conflicto
                    armado y otras emergencias.
                </p>
               
            </div> -->
           

            <div class=" mt-8">
                <h1 class="mb-10 font-bold text-3xl bg-gradient-to-r from-red-950 via-red-700 to-red-400 text-white ml-0 p-2">Nuestra historia</h1>
                <TimeLine></TimeLine>
            </div>
            <div class="grid grid-cols-4 mt-6 mr-6 ">
                <Numeros h="1" p="Sede Nacional"></Numeros>
                <Numeros h="15" p="Filiales Provinciales"></Numeros>
                <Numeros h="168" p="Filiales Municipales"></Numeros>
                <Numeros h="1437" p="Comites Locales"></Numeros>
            </div>
        </section>
    </div>
</Layout>

