---
import Header from "../components/header.astro";
import Layout from "../components/Layout.astro"


import { getCollection } from 'astro:content';
const noticias: { data: { date: Date; title: string; summary: string }; slug: string }[] = await getCollection('noticias');

---

<Layout titulo="Noticias de la Cruz Roja Cubana">
    <Header></Header>   
    
    <section class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4">
        {noticias
          .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
          .map((n) => (
            <article class="border rounded-xl p-4 shadow-md hover:shadow-lg transition">
              <a href={`/noticias/${n.slug}/`}>
                <h2 class="text-xl font-bold text-red-700">{n.data.title}</h2>
                <p class="text-sm text-gray-500">{n.data.date.toLocaleDateString()}</p>
                <p class="mt-2 text-gray-700">{n.data.summary}</p>
              </a>
            </article>
          ))}
      </section>

    </Layout>

<style>
    .noticia {
        border: 1px solid #ccc;
        padding: 16px;
        margin-bottom: 16px; 
        border-radius: 8px;
    }
    .noticia h2 {
        margin-top: 0;
    }