---
import Header from "../components/header.astro"
import Layout from "../components/Layout.astro"
import { MotionEffectImageGridDemo } from "../components/motion-effect-image-grid-demo"
import ProgramaCard from "../components/ProgramaCard.astro"
import { MotionEffect } from '@/components/animate-ui/effects/motion-effect';
const programas = [
  { titulo: "Difusión del Derecho Internacional Humanitario", descripcion: "Responde por dar a conocer los principios fundamentales del movimiento, por transmitir los valores humanitarios que resultan de su accion y por difundir el Derecho Internacional Humanitario entre el voluntariado de Cruz Roja y el publico externo." },
  { titulo: "Restablecimiento de Contactos Familiares (RCF) y Búsqueda", descripcion: "La Oficina de Restablecimiento de Lazos Familiares y Busqueda de la Cruz Roja Cubana trabaja para tranquilizar, informar y restablecer la comunicación entre los miembros de las familias separadas por conflictos armados, internos o internacionales, tensiones políticas, desastres naturales o situación de carácter social." },
  { titulo: "Atención al Refugiado y Migraciones", descripcion: "Asistimos a personas en movilidad con protección, orientación y ayuda humanitaria." },
  { titulo: "Voluntariado", descripcion: "La acción voluntaria en Cruz Roja compromete no sólo a la persona que se integra como voluntaria en la Institución, sino también a la propia Institución, que debe garantizar que dicha acción se desarrolle en un marco favorable para ambos." },
  { titulo: "Cruz Roja Juvenil", descripcion: "La Cruz Roja Juventud es el frente juvenil de la Cruz Roja, cuya acción se dirige principalmente al trabajo con los jóvenes, orientados hacia la atención de las necesidades sociales y de las personas desfavorecidas de la comunidad" },
  { titulo: "Consejo Asesor de Veteranos", descripcion: "Rescatamos la experiencia y guía de quienes han formado parte histórica del movimiento." },
  { titulo: "Operaciones y Socorro", descripcion: "El Departamento de Operaciones y Socorro de la Cruz Roja Cubana se encarga de la actuacion en casos de desastres y del desarrollo de las acciones de prevencion, respuesta y recuperacion en el ambito comunitario." },
  { titulo: "Seguridad Acuática", descripcion: "La seguridad Acuática de la Cruz Roja Cubana Trabaja fundamentalmente en la atención básica de “LA PREVENCIÓN DE ACCIDENTES EN LOS BALNEARIOS PÚBLICOS”; mediante la inspección y señalización de las áreas de baño, capacitando a la población, realizando el salvamento y rescate de posibles accidentados y en caso necesario aplicando los Primeros Auxilios." },
  { titulo: "Instrucción", descripcion: "Capacitamos a la población en temas clave como primeros auxilios, gestión de riesgos y más." },
  { titulo: "Preparación Comunitaria", descripcion: "Fortalecemos la resiliencia comunitaria ante situaciones de emergencia." },
  { titulo: "Programa de Cambio Climático", descripcion: "Sensibilizamos y preparamos a comunidades ante los efectos del cambio climático." },
  { titulo: "Apoyo Psicológico", descripcion: "Su objetivo general consta de brindar atención psicosocial y apoyo humano a víctimas de cualquier situación estresante en cumplimiento del principio de HUMANIDAD de la Cruz Roja." },
  { titulo: "Programas de Salud", descripcion: "Fomentamos prácticas saludables y facilitamos el acceso a servicios básicos." },
  { titulo: "Ayuda Humanitaria", descripcion: "Distribuimos recursos esenciales a personas vulnerables en momentos críticos." },
  { titulo: "Proyectos de Colaboración", descripcion: "Trabajamos con instituciones y socios en iniciativas conjuntas de desarrollo." },
  { titulo: "Programa de Seguridad Vial (Vía a la Vida)", descripcion: "Educamos para reducir accidentes viales y promover cultura vial responsable." },
]
---

<Layout titulo="Programas de la Cruz Roja Cubana">
    <Header></Header>
  <section class="py-10 px-4 bg-white">
    <!-- <MotionEffectImageGridDemo /> -->
    <div class="ml-50-container">
      <MotionEffectImageGridDemo client:load />
    </div>
   <div class="container mx-auto px-4 py-10 ">

       <h1 class="text-4xl font-bold text-center text-white bg-gradient-to-r from-red-950 via-red-700 to-red-400 mb-10">Nuestros Programas</h1>
       <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
           {programas.map((programa) => (
               <ProgramaCard titulo={programa.titulo} descripcion={programa.descripcion} />
            ))}
    </div>
</div>
  </section>
</Layout>