---
const titulo = Astro.props.titulo || "Título por defecto";
const imagen = Astro.props.imagen || "/default-image.jpg";
---
<div class="border border-gray-300 p-4 mb-1 rounded shadow-md transition-transform duration-200 w-72 h-72 bg-white overflow-hidden text-center">
  <h1 class="text-xl font-semibold mb-2">{titulo}</h1>
  <img src={imagen} alt={titulo} class="w-full h-40 object-contain mb-2" />
</div>