---
const titulo = Astro.props.titulo || "Título por defecto";
---
<div class="card">
    <h1>{titulo}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolore quisquam, vitae excepturi dolor voluptatibus odio nesciunt facilis quidem quaerat, numquam sed blanditiis quas minus atque sapiente, consectetur dicta magni!</p>
</div>


<style>
    .card {
        background: #fff;
        border: 1px solid #ccc;
        padding: 16px;
        margin-bottom: 5px; 
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        width: ;
        height: auto;
    }
    