---
// This is a footer component for your Astro project.
---

<footer class="bg-gradient-to-r from-red-950 via-red-700 to-red-400 text-white py-6 border-t border-gray-300">
    <div class="max-w-screen-xl mx-auto px-4 text-center">
        <p class="text-sm">&copy; {new Date().getFullYear()} Red Cross. All rights reserved.</p>
        <ul class="flex justify-center space-x-4 mt-4">
            <li><a href="/acerca-de" class="text-white hover:underline">Sobre Nosotros</a></li>
            <li><a href="/contact" class="text-white hover:underline">Contact</a></li>
            <li><a href="/privacy-policy" class="text-white hover:underline">Privacy Policy</a></li>
        </ul>
    </p>Sede Nacional Calle 20 No. 707 e/ 7ma y 29.<p>
    </p>        Miramar Cuba.    <p>
    </p>  Telef: 537 2061405 y 206-1055.<p>
    </p> Horario de atención: 8:00 a 5:00 p.m.<p>
    </div>
</footer>