---
const { titulo, descripcion } = Astro.props
---

<article class="relative w-full h-48 card">
  <div class="card-inner w-full h-full">
    <div class="card-front flex flex-col justify-center items-center p-4 bg-white  border border-black/20 rounded-2xl shadow-xl shadow-black/20">
      <h2 class="text-lg font-semibold text-red-700">{titulo}</h2>
    </div>
    <div class="card-back flex flex-col justify-center items-center p-4 bg-red-950/70 border border-red-100 rounded-2xl shadow-md">
      
        <p class="text-white  font-">{descripcion}</p>
    </div>
  </div>
  <style>
    .card { perspective: 1000px; }
    .card-inner { transition: transform 0.6s; transform-style: preserve-3d; position: relative; }
    .card:hover .card-inner { transform: rotateY(180deg); }
    .card-front, .card-back { backface-visibility: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
    .card-back { transform: rotateY(180deg); }
  </style>
</article>
